<div class="homepage-bg" style="background-image: url('');">
  <div class="container-fluid text-secondary py-5 bg-light">
    <div class="row">
      <div class="">
        <h1 class="text-center mb-4">Your Movies List</h1>
        <ul class="list-group">
          <% @lists.each do |list| %>
          <li class="list-group-item bg-transparent border-0">
      <div class="card">
        <div class="card-body col-sm-4">
        <h4 class="text-secondary h4"><%= link_to list.name, list_path(list)%> </h4>
        </div>
      </div>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
