<div class="homepage-bg" style="background-image: url('');">
  <div class="container-fluid text-secondary py-5 bg-light">
    <div class="row">
      <div class="">
        <h1 class="text-center mb-4">Your Movies List</h1>
        <ul class="list-group">
          <% @lists.each do |list| %>
          <li class="list-group-item bg-transparent border-0">
      <div class="card">

      <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>


        <div class="d-flex justify-content-center">
    <% if list.photo.attached? %>
      <div class="" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url('<%= cl_image_path list.photo.key, height: 100, width: 100, crop: :fill %>')">
        <h2 class="titre text-center text-light mb-4"><%= list.name.upcase %></h2>
      </div>
    <% end %>
  </div>


       <div class="card-body col-sm-4 d-flex align-items-space-between">
        <a href="http://localhost:3000/lists/<%= list.id %>" class="ml-2"><h4 class="text-secondary h4 text-decoration-none"><%= list.name %></h4></a>
        </div>
      </div>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
