<div class="homepage-bg" style="background-image: url('');">
  <div class="container-fluid text-secondary py-5 bg-light">
    <div class="row">
      <div class="">
        <h1 class="text-center mb-4">Your Movies List</h1>
        <ul class="list-group">
          <% @lists.each do |list| %>
          <li class="list-group-item bg-transparent border-0">
      <div class="card">
       <div class="card-body col-sm-4 d-flex align-items-center">
        <h4 class="text-secondary h4 text-decoration-none"><%= list.name %></h4>
        <a href="http://localhost:3000/lists/<%= list.id %>" class="ml-2"><i class="fa-solid fa-film"></i></a>
        </div>
      </div>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
